<template>
  <div class="about">
    <h1>This is an about page</h1>
    <img src="../assets/logo.png">
  </div>
</template>

<script type="text/javascript">
	export default{
		name: "about",
	};
</script>
