<template>
	<div class="container">
		<div class="row">
            <div class="col col-lg-2 col-md-3 form-group">
                <p>&nbsp;</p>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="mr" name="mr-ms" value="mr" class="custom-control-input" v-model="formData.gender.value">
                    <label class="custom-control-label" for="mr">Mr</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="ms" name="mr-ms" value="ms" class="custom-control-input" v-model="formData.gender.value">
                    <label class="custom-control-label" for="ms">Ms</label>
                </div>
            </div>

            <div class="col form-group">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" :class="{'input-error': isInvalid('firstName')}" class="form-control" :placeholder="mrMs" 
                v-model="formData.firstName.value">
            </div>

            <div class="col form-group">
                <label for="lastMame">Last name</label>
                <input type="text" id="lastName" :class="{'input-error': isInvalid('lastName')}" class="form-control" placeholder="Doe" v-model="formData.lastName.value">
            </div>
       	</div>
       	<div class="row">
            <div class="col-md-4 form-group">
                <label for="leaveDate">leave date</label>
                <input type="date" class="form-control" id="leaveDate" :class="{'input-error': isInvalid('leaveDate')}"v-model="formData.leaveDate.value">
            </div>
            <div class="col-md-4 form-group">
                <label for="leaveDate">coming back date</label>
                <input type="date" class="form-control" id="backDate" :class="{'input-error': isInvalid('backDate')}"v-model="formData.backDate.value">
            </div>
            <div class="col-md-4">
            	<label>Amount of rooms</label>
	            <select class="form-control">
	            	<option value="one-room">1 room</option>
	            	<option value="two-room">2 rooms</option>
	            	<option value="three-room">3 rooms</option>
	            	<option value="four-room">4 rooms</option>
	            </select>
        	</div>
           	
	</div>
	<div class="row">
		<div class="alignment">		
			<router-link to="/home" tag="button" class="btn btn-link">cancel</router-link>
			<router-link to="/explore" tag="button" class="btn btn-succes">done</router-link>
		</div>
	</div>
</div>

</template>

<script>
    import AlertMessage from '@/components/AlertMessage'
	export default{
		name: "Contact",
        components:{
            AlertMessage,
        },
		data(){
			return{
				formData:{
                    gender:{
                        value: '',
                        error: '',
                    },
					firstName:{
						value: '',
						error: '',
					},
					lastName:{
						value: '',
						error: '',
					},
					leaveDate:{
						value: '',
						error: '',
					},
					backDate:{
						value: '',
						error: '',
					},

				},
				foundErrorIn: [],
                
				

			}
		},

        computed:{
            mrMs() {
                return this.formData.gender.value === 'mr' ? 'John' : 'Jane';
            }
        },

		methods:
        {
			send(){
				const fields = Object.keys(this.formData);

				this.foundErrorIn = [];
                this.message= '';

				fields.forEach((field) => {
					this.isEmpty(field);

					if(this.formData[field].error !== ''){
						this.foundErrorIn.push(field);
					}
				});
				if(this.foundErrorIn.length > 0){
                    this.message = "you a dum dum";
                }
				
			},
			isInvalid(field){
				console.log(field);
				return this.foundErrorIn.includes(field);
			},
			isEmpty(field){
				this.formData[field].error = '';

				if(this.formData[field].value.trim() === ''){
					this.formData[field].error = 'Veld is leeg';
				}
			}

		}
	};
</script>

<style>
	.alignment {
		margin-left: 35.5rem;
	}


</style>