<template>
  <div class="Contact">
    <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Contact Us</h3>
                    <h4>Feel free to send us a message</h4>

                    <alert-message v-if="message !== ''" :message="message"></alert-message>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-2 col-md-3 form-group">
                    <p>&nbsp;</p>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="mr" name="mr-ms" value="mr" class="custom-control-input" v-model="formData.gender.value">
                        <label class="custom-control-label" for="mr">Mr</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ms" name="mr-ms" value="ms" class="custom-control-input" v-model="formData.gender.value">
                        <label class="custom-control-label" for="ms">Ms</label>
                    </div>
                </div>

                <div class="col form-group">
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" :class="{'input-error': isInvalid('firstName')}" class="form-control" :placeholder="mrMs" 
                    v-model="formData.firstName.value">
                </div>

                <div class="col form-group">
                    <label for="lastMame">Last name</label>
                    <input type="text" id="lastName" :class="{'input-error': isInvalid('lastName')}" class="form-control" placeholder="Doe" v-model="formData.lastName.value">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" :class="{'input-error': isInvalid('subject')}" placeholder="Subject..." v-model="formData.subject.value">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" :class="{'input-error': isInvalid('message')}" style="height: 150px" placeholder="What is on your mind?" v-model="formData.message.value"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>

                    <button class="btn btn-primary float-right" @click="send()">
                	<span>Send</span>
                	<i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </section>
    <img src="../assets/logo.png">
    
  </div>
</template>

<script>
    import AlertMessage from '@/components/AlertMessage'
	export default{
		name: "Contact",
        components:{
            AlertMessage,
        },
		data(){
			return{
				formData:{
                    gender:{
                        value: '',
                        error: '',
                    },
					firstName:{
						value: '',
						error: '',
					},
					lastName:{
						value: '',
						error: '',
					},
					subject:{
						value: '',
						error: '',
					},
					message:{
						value: '',
						error: '',
					},

				},
				foundErrorIn: [],
                message: '',
				

			}
		},

        computed:{
            mrMs() {
                return this.formData.gender.value === 'mr' ? 'John' : 'Jane';
            }
        },

		methods:
        {
			send(){
				const fields = Object.keys(this.formData);

				this.foundErrorIn = [];
                this.message= '';

				fields.forEach((field) => {
					this.isEmpty(field);

					if(this.formData[field].error !== ''){
						this.foundErrorIn.push(field);
					}
				});
				if(this.foundErrorIn.length > 0){
                    this.message = "you a dum dum";
                }
				
			},
			isInvalid(field){
				console.log(field);
				return this.foundErrorIn.includes(field);
			},
			isEmpty(field){
				this.formData[field].error = '';

				if(this.formData[field].value.trim() === ''){
					this.formData[field].error = 'Veld is leeg';
				}
			}

		}
	};
</script>

