<template>
	<div class="contianer">
		<div class="row">
			<div class="col-md-3">
				<div class="hotel_image_1">
					<img src="../assets/hotel_image_1.jpg" alt="broken" class="img-responsive">
					
					<div id="lorum"><p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
				</div>
			</div>
			<div class="col-md-3">
				
			</div>
		</div>
	</div>
</template>


<script>
import HotelItem from '@/components/HotelItem.vue';
import Hotel from '@/models/Hotel';
import axios from 'axios';

export default {
	name: 'Explore',
	components: {
		HotelItem
	},
	data() {
		return {
			searchString: '',
			hotels: [],
			// loading: true,
		};
	},

	computed: {
		filteredHotels() {
			return this.hotels.filter((hotel) => {
				return hotel.name.toLowerCase().includes(this.searchString.trim().toLowerCase());
			});
		},
	},
	

	mounted() {
		axios.get('data/data.json').then((response) => {
			this.hotels = response.data.map(Hotel.fromJSON);

			// setTimeout(() => {
			// 	this.loading = false;
			// }, 1000)
		}).catch((err) =>{
			console.log(err);
		});
	}
};
</script>

<style>
	.hotel_image_1{
		margin-left: 3rem;
	}
	.hotel_image_1 img{
		width: 300px;
		height: 250px;
	}
	.lorum{
		margin: auto;
	}
</style>
