<template>
 <!--  <div class="home">
  	<router-link to="/Booking" tag="button">book a hotel</router-link>
		<br>
		
  </div>
</div> -->

<div>home</div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
};
</script>
