<template>
	<div class="alert alert-danger">
		<span class="alert-message" v-text="message"></span>
	</div>
</template>

<script>
	export default{
		name: 'AlertMessage',
		props: {
			message:{
			type: String,
			required: true,
			},
		},
	};
</script>
<style>
	.alert.alert-danger{
		border-color: red;
		background-color: rgba(255, 0, 0, 0.25);
	}
</style>