<template>
	<div class="hotel-item-wrapper">
		<span>{{hotel.name}}</span>
		<br>
		

		
		
	</div>
</template>

<script>
	export default{
		name: 'HotelItem',
		props:{
			hotel:{
				type: Object,
				required: true,
			},
		},
		data(){
			return {}
		},
	};
</script>

<style>
	.hotel-item-wrapper {
		/*max-width: 500px;
		margin: auto;*/
		width: 40rem;
		height: 30rem;
		border: 1px solid black;
	}
	.photo-hotel{
		margin-left: 5%; 
		margin-right: 95%;
	}
	.text{

	}
</style>